[Unit]
Description=Standalone X session manager
Requires=dbus.socket
After=dbus.socket
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.sessiond.session1
ExecStart=/usr/bin/sessiond
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
